
body{
    margin: 50px;
}
.first{
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(to right,#EE83DE, #ECAA59);
    height: 800px;
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffff;
    height: 70px;
}
.nav-container{
    display: flex;
    flex-direction: row;
}
ul{
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    background-color: white;
}
.nav{
    margin-left: 90px;
    font-family: roboto;
    list-style-type: none;
    font-size: 20px;
}
.logo-container{
    display: flex;
    flex-direction: row;
   margin-top: 10px;
}
.telephone{
    height: 30px;
    margin-left: 250px;
}
.cart{
    height: 30px;
    margin-left: 20px;
}
.main-container{
    background-image: url("https://res.cloudinary.com/dobt9633l/image/upload/v1700600842/img1_qojpnm.jpg");
    background-size: cover;
    height: 250px;
    padding: 200px;
}
.card{
    background-color: #DB2B4B;
    opacity: 0.5;
    height: 200px;
    width: 500px;
    color: #ffff;
    padding: 30px;
   
}
.heading{
    font-size: 45px;
    font-weight: 1000;
}
.paragraph{
    font-size: 20px;
}



.second{
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(to right,#EE83DE, #ECAA59);
    height: 700px;
    text-align: center;
} 
.Order{
    text-align: center;
    color: #ffff;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
}
.cards-container{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.menu-card{
    height: 350px;
    width: 250px;
    background-color: #ffff;
    padding: 30px;
    text-align: center;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
}
.image{
    height: 240px;
    width: 230px;
    border-top-right-radius: 80px;
    
}
.name{
    font-family: roboto;
}
button{
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 20px;
    width: 180px;
    margin-top: 60px;
    font-size: 20px;
    font-weight: bold;
}
@media only screen and (max-width: 576px){
    .first{
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-image: linear-gradient(to right,#EE83DE, #ECAA59);
        height: 350px;
        max-width: 400px;
    }
    .header-container{
        display: none;
    }
    .cart{
        height: 30px;
        margin-left: 20px;
        display: none;
    }
    .main-container{
        background-image: url("https://res.cloudinary.com/dobt9633l/image/upload/v1700600842/img1_qojpnm.jpg");
        background-size: cover;
        height: 250px;
        padding: 20px;
    }
    .card{
        background-color: #DB2B4B;
        opacity: 0.5;
        height: 100px;
        width: 200px;
        color: #ffff;
        padding: 20px;
       
    }
    .heading{
        font-size: 15px;
        font-weight: 1000;
    }
    .paragraph{
        font-size: 10px;
    }
    
    
    
    .second{
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-image: linear-gradient(to right,#EE83DE, #ECAA59);
       
        text-align: center;
        max-width: 400px;
    } 
    .Order{
        text-align: center;
        color: #ffff;
        font-family: "Times New Roman", Times, serif;
        font-size: 20px;
    }
    .cards-container{
       display: flex;
       flex-direction: column;
       justify-content: space-around;
    }
    .menu-card{
        margin: 20px;
        height: 150px;
        width: 200px;
        background-color: #ffff;
        padding: 5px;
        text-align: center;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
    }
    .image{
        height: 100px;
        width: 130px;
        border-top-right-radius: 40px;
        
    }
    .name{
        font-family: roboto;
        font-size: 10px;
    }
    .description{
        font-size: 10px;
    }
    button{
        text-align: center;
        padding: 10px;
        border: none;
        border-radius: 20px;
        width: 80px;
        margin-top: 10px;
        font-size: 10px;
        font-weight: bold;
    }
}